@charset "UTF-8";
html {
    background-color: rgb(19, 100, 138)
}
h1 {
    width: 5em;
    margin: auto;
    margin-top: -0.40em;
}
header h1, main p, main nav{
    display: flex;
    justify-content: center;
}

img {
    display: block;
    align-content: center;
    margin: auto;
    width: 30%;
}
main ul {
    padding: 0;
    padding-bottom: 20px;
    color: #FFFFFF;
    font-size: 1.3em;
    list-style: disc;
    max-width: 5em;
}
main ul li {
    display: inline-block;
    margin: 100px 10px;
    text-align: left;
}
h1 {
    font-family: Lobster Two ,Arial, Helvetica, sans-serif;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 3.5em;
    color: #FFFFFF;
    border-bottom: 4px solid #FE5F55;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

p {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-bottom: 0;
}

button {
    margin: 1em;
    padding: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #FE5F55; 
    color: #FFFFFF;
    transition: 0.3s;
    opacity: 0.9;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
    cursor: pointer;
}

#yes:hover {
    background-color: rgb(63, 136, 63);
}
#try:hover {
    background-color: rgb(231, 194, 28);
}
#no:hover {
    background-color: rgb(228, 35, 35);
}
button:active {
    transform: translateY(6px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus {
    outline: 0;
}

@media screen and (max-width: 675px) {

main nav {
    display: flexbox;
    flex-direction: column;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
}

}